/* Mobilne css */

@media screen and (max-width: 375px) {
    .header {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header-main{
        background-image: url(../images/Bitmap-mobilne.png);
    }
  }
  